@import "../..//colors.scss";

.gallery {
  padding-top: 200px;
  &::before {
    content: "";
    width: 100%;
    height: 100vh;
    background: #000;
    position: fixed;
    z-index: 99;
    display: none;
    margin-top: -200px;
  }
  &__popup {
    height: 94%;
    width: 60%;
    background: rgba(0, 0, 0, 0.873);
    position: fixed;
    z-index: 99;
    top: 31px;
    left: 50%;
    transform: translate(-50%);
    border: 4px solid $gold;
    display: none;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__closePopup {
    position: fixed;
    top: 26px;
    left: 80%;
    z-index: 99;
    display: none;
    cursor: pointer;
  }

  &__title {
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 100px;
  }

  &__item {
    overflow: hidden;
    border: 4px solid $gold;
    cursor: pointer;
    height: 330px;
  }

  &__item img {
    transition: 0.3s;
    width: 100%;
    height: 100%;
  }

  &__item:hover img {
    transform: scale(1.1);
  }
}
