.about {
  &__title {
    text-align: center;
    padding-bottom: 50px;
    font-size: 48px;
  }

  &__block {
    display: flex;
    align-items: center;
    margin-bottom: 300px;
  }
  &__image {
    img {
      width: 400px;
    }
  }
  &__text {
    width: 50%;
  }
}
