.about-us {
  padding: 200px 0 150px;
  color: white;
  &__title {
    text-align: center;
    padding-bottom: 50px;
    font-size: 48px;
  }

  &__box {
    display: flex;
    gap: 30px;

    align-items: center;
  }
  &__image {
    width: 600px;
    height: 300px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      filter: brightness(1.05);
    }
  }
  &__text {
    width: 60%;
    line-height: 1.8;
    font-size: 16px;
    font-weight: 700;
  }
}
