// @import url(../fonts/Inter/Inter.css);
// @import url(../fonts/GothamFont/gotham.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "/src/colors.scss";

// home-page
@import "/src/re-components/header/header.scss";
@import "src/components/homepage/hero/hero.scss";
@import "src/components/homepage/about/about.scss";
@import "/src/components/homepage/hrooms/hrooms.scss";
@import "src/components/homepage/meeting/meeting.scss";
@import "src/components/homepage/features/features.scss";
@import "/src/re-components/map/Map.scss";
@import "/src/re-components/footer/footer.scss";

// overview-page
@import "/src/components/overview-page/about-us/about-us.scss";
@import "/src/components/overview-page/over-services/overServices.scss";
@import "/src/components/overview-page/rules/rules.scss";

// rooms-page
@import "/src/components/Rooms-page/standart/standart.scss";

// services-page
@import "./components/services-page/ser-label/services-label.scss";
@import "./components/services-page/ser-restaurants/services-restaurants.scss";
@import "./components/services-page/ser-events/ser-events.scss";
@import "./components/services-page/ser-fitness/ser-fitness.scss";
@import "./components/services-page/ser-pool/ser-pool.scss";

html {
  scroll-behavior: smooth !important;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background: $light-black;
  font-size: 16px;
  color: white;
}

.App {
  max-width: 2220px;
  margin: 0 auto;
  background: rgb(14, 9, 31);
}
